/*以上为公共压缩样式，处理各个浏览器兼容性所写*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {
	margin: 0;
	padding: 0;
}
ul,ol {
	list-style: none
}
img {
	border: 0;
	vertical-align:middle
}
/* 表单*/
label {
	display: inline-block;
	* display: inline;
	* zoom: 1
}
button,input,select,textarea {
	vertical-align: baseline;
	*vertical-align: middle
}
input[type = "reset"] ::-moz-focus-inner,
input[type = "button"] ::-moz-focus- inner,
input[type = "submit"] ::-moz-focus-inner,
input[type = "file"] > input[type = "button"] ::-moz-focus-inner {
	border: none;
	padding: 0
}
*{
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
}
/* 清除浮动*/
.clear {
	clear: both;
}
a:focus {
	outline: thin dotted
}
a:active,
a:hover {
	outline: 0;
	text-decoration: none
}
a {
	color: #4B4B4B;
	text-decoration: none;
}
body {
	color: #666;
	font: .8em / 1.8 "microsoft yahei", "Tahoma", \5b8b\4f53, Arial;
	height:100%;
	padding-bottom: 100px;
}
.web{
	width:100%;
	max-width: 750px;
	min-height:90vh;
	margin:0 auto;
	background-size: 100% 100%;
	background: url(../images/mybg.png) no-repeat;
	background-size: 100% 100%;
 }
.web_btn {
	width:50%;
	margin:30px auto 0;
	border-radius: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    border: none;
    font-family: "Microsoft YaHei";
    cursor: pointer;
	background: #4691ee;
}